# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.NamingConventionValidator.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Matas\Downloads\NamingConventionValidator\.idea\.idea.NamingConventionValidator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
